*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

p{
  font-family:'Source Sans Pro', sans-serif;
  font-size: 17px;
}
/*PRIMERO SIEMPRE VARIABLES*/
@import './variables/typo';

/*ABAJO SECCIONES*/
@import './secciones/header';
@import './secciones/index.scss';
@import './secciones/biografia';
@import './secciones/pinturas';
@import './secciones/destijl';
@import './secciones/contacto';
@import './secciones/footer';









