/*---------------------CONTACTO-------------------*/
/*Estilos de contacto.html*/
.mainContacto{
    background-image: url(../img/pinturas/p11.PNG);

    .formMargen{
      padding-top: 10vh;
      padding-bottom: 8vh;

      .fondoForm{
        background-color: white;
       }

       .btn-primary{
        color: black;
        background-color: #EFD40A
      }
     }
   }
   
   
   
  