/*---------------------DE STIJL--------------------*/
/*Estilos de destijl.html las CARDS*/
.row {
  justify-content: space-around;
  .card{
    border: none;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.349);
  }
  .colorCartaRed{
    background-color: #f32222;
  }
  .colorCartaBlue{
    background-color: #024b86;
  }
}

/*Responsive destijl.html la primera seccion USANDO FLEX*/
@media screen and (max-width: 1024px){
  .deStijl{
    display: flex;
    flex-direction: column;
  }
}
  
  
  