/*----------HEADER----------------*/
/*estilos de la barra de navegacion*/
.bg-white {
  box-shadow: 0px 0px 30px #00000054;
}

.nav-item {
  padding: 15px;
  font-size: 17px;
  letter-spacing: 1px;
}

.nav-link{
  color: #000000;
}

.active{
  text-decoration: underline 2px red;
}

.nav-link:hover{
  text-decoration: underline 2px red;
  color: #f32222;
}

.navbar-brand img {
  width: 50vh;
  margin-left: 15px;
}

div .navegacion {
  justify-content: flex-end;
  margin-right: 6vh;
}

@media only screen and (max-width: 425px) {
  /*Logo del nav*/
  .navbar-brand img {
   width: 27vh; 
  }
}