/*---------------------------PINTURAS GALERIA--------------------------*/
/*Edicion con GRID de las pinturas con el efecto overlay*/
h1{
  letter-spacing: 2px;
}
.containerGrid {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  padding: 4vh;
  gap: 17px;
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;

  img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }

  .containerImagen{
    position: relative;
    width: 290px;
    height: 320px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
    &:hover> img{
      transform: scale(1.3);
    }
    &:hover> .overlay{
      opacity: 1;
      visibility: visible;
    }
    &:hover> .overlay h3{
      margin-top: 80px;
      margin-bottom: 15px;
    }

    .overlay{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: rgba(39, 43, 44, 0.534);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;

      p{
        color: white;
      }
      h3{
        color: white;
        transition: all 500ms ease-out;
      }
    }
  }
}
  
/*Edicion de broadwayBoogie*/
.broadwayBoogie{
  background-image: url(../img/pinturas/broadwayBoogieWoogie.jpg);
  color: transparent;
  height: 6vh;
}

/*-------------------RESPONSIVE---------------------------*/
@media screen and (max-width:1025px){
  /*responsive de la galeria de pinturas*/
  .containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    margin: 0 0 8vh 0;
    padding: 0;
    justify-content: center;

    .containerImagen{
      width: 300px;
      height: 400px;
    }
  }
}

@media only screen and (max-width: 913px) {
  /*responsive de la galeria de pinturas*/
  .containerGrid {
    display: grid;
    grid-template-columns: repeat(1, 0.2fr);
    justify-content: center;
    padding: 0;
    margin: 0 0 8vh 0;
    gap: 5vh;
    
    .containerImagen{
      width: 250px;
      height: 300px;
    }
  }
}